<div class="wb-import-files">
	<header>Import Files</header>

	<main>
		<center>
			<button>File</button><br>
			<button>Folder</button><br>
			<button>L3S (remote)</button>
		</center>
	</main>
</div>
