<span {{action "toggleDebugger"}} class="wb-toolswitch">&#9991;</span>

{{#if glogApp}}
	{{#glog-app}}
		<div class="glog-item">
			<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
		</div>
	{{/glog-app}}
{{/if}}

<header>Import Files</header>

<main>
	<center>
		<button>File</button><br>
		<button>Folder</button><br>
		<button>L3S (remote)</button>
	</center>
</main>

