<div {{bind-attr class='styleNamespace theme'}}>
	{{#if isDebugging}}
		<div class="js-is-debugging">
		<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
		</div>
	{{/if}}
	<header>Import Files</header>

	<main>
		<center>
			<button>File</button><br>
			<button>Folder</button><br>
			<button>L3S (remote)</button>
		</center>
	</main>
</div>
