<span {{action "hkToggleDebugger"}} class="wb-toolswitch">&#9991;</span>

{{#if hkIsDebugging}}
	{{#glog-app}}
			<strong>Style:</strong> Namespace: {{styleNamespace}} | Theme: {{theme}}
	{{/glog-app}}
{{/if}}

<header>Metadata Editor</header>

<main>
	<ul>
		<li>Creator: Martin Hecher</li>
		<li>Date: 2015-04-01</li>
		<li>Adress: Inffeldgasse 16c</li>
	</ul>
</main>



