<div class="wui-sessions">
	{{#if showHeader}}
		<header>{{label}}</header>
	{{/if}}

	<main>
	{{#hk-sidebar items=items as |item|}}
		{{dynamic-component type=item.type meta=item app=app}}
	{{/hk-sidebar}}
	</main>
</div>