@import "bower_components/susy/sass/susy";
@import "config";

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

body {
	@include container(100%);
}

header {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
    
  height: $header-height;

  background-color: lightgreen;
}

aside {
  position: absolute;

  top: $header-height;
  bottom: $footer-height;

  &.left {
    position: absolute;

    left: 0;

    width: $sidebarLeft-width;

    background-color: lightblue;
  }

  &.right {
    position: absolute;

    right: 0;

    width: $sidebarRight-width;

    background-color: orange;
  }
}

main {
  position: absolute;

  top: $header-height;
  bottom: $footer-height;
  left: $sidebarLeft-width;
  right: $sidebarRight-width;

  background-color: brown;
}

footer {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  height: $footer-height;

  background-color: darkgray;
}
