// This config file can be split into config modules, if necessary (e.g. when the config gets too big)
// @import "config-header";

$header-height: 30px; 
$footer-height: 30px;
$sidebar-left-width: 250px;
$sidebar-right-width: 250px;