// This config file can be split into config modules, if necessary (e.g. when the config gets too big)
// @import "config-header";

$header-height: 30px; 

$footer-height: 30px;

$sidebarLeft-width: 250px;

$sidebarRight-width: 250px;