.js-glog-app {
   .glog-item {
        position: absolute;
        bottom: 0;
        left: 0;

        padding: 5px;

        width: 100%;

        background: lightgray;

        border-style: solid;
        border-width-bottom: 3px;
  }
}