.wb-stages {
  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  li {
    padding: 4px;
    padding-left: 25px;

    font-color: gray;
    background-color: gray;

    border-width: 1px;
    border-color: black;
    border-bottom-style: solid;
  }

  li:hover {
    background-color: lightgray;
  }
}

.wb-stages > header {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  background-color: darkgray;
  color: white;

  padding: 5px;

  height: $header-height;  

  text-align: center;
  line-height: $header-height;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.wb-stages > main {
  position: absolute;
  
  top: $header-height + 12px; // FIXXME: take into account header padding + border
  left: 0;
  right: 0;

  height: 100%;
}

.wb-stages > footer {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  height: $footer-height;

  background-color: darkgray;
  color: white;

  padding: 5px;

  text-align: center;
  line-height: $header-height;

  border-width: 1px;
  border-color: black;
  border-style: solid;
}