// This config file can be split into config modules, if necessary (e.g. when the config gets too big)
// @import "config-header";

$header-height: 30px; 
$footer-height: 30px;
$sidebarLeft-width: 250px;
$sidebarRight-width: 250px;

$header-background-color: #474D57;
$sidedarLeft-background-color: #eee;
$main-background-color: #eee;
$sidebarRight-background-color: #e5e5e5;
$footer-background-color: rgb(200,200,200);