@import "config";
@import "glog-app";

.hk-app > header {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
    
  height: $header-height;

  padding-left: 30px;

  background-color: $header-background-color;

  line-height: $header-height;
}

.hk-app > aside {
  position: absolute;

  top: $header-height;
  bottom: $footer-height;

  &.left {
    position: absolute;

    left: 0;

    width: $sidebarLeft-width;

    background-color: $sidebarRight-background-color;
  }
}

.hk-app > main {
  position: absolute;

  top: $header-height;
  bottom: $footer-height;
  left: $sidebarLeft-width;
  right: 0;

  background-color: $main-background-color;
}

.hk-app >footer {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  height: $footer-height;

  background-color: $header-background-color;
}