@import "config";

.wui-import-files {
  position: relative;
}

.wui-import-files {
	header {
		padding: 10px;
		padding-left: 8px;

		background-color: $header-background-color;
		color: black;

		font-size: 14px;
		font-weight: bold;
		font-family: Gill Sans Extrabold, sans-serif;

		text-align: left;

		border-width: 1px;
		border-color: lightgray;
		border-top-style: solid;
		border-bottom-style: solid;
	}

	main {
		margin: 3px;
	}

	button {
		padding: 3px;

		width: 100%;
		min-width: 100px;
	}
}