<div class="wui-admin hk-main">
	<header>
		Admin
		<span class="wui-toolswitch">{{#link-to "app"}}&#9991;{{/link-to}}</span>
	</header>

	<aside class="left">
		{{wb-sessions items=plugins label="PLUGINS"}}
	</aside>

	<main>
		VIEWPORT

		{{#list-overview items=plugins as |plugin|}}
			<center>{{plugin.label}}</center>
		{{/list-overview}}
	</main>

	<footer>
		#plugins: {{model.length}}
	</footer>
</div>