<div class="wb-admin">
	<header>
		Admin
		<span class="wb-toolswitch">{{#link-to "app"}}&#9991;{{/link-to}}</span>
	</header>

	<main>
		VIEWPORT
		
		<ul>
		{{#each plugin in model}}
			<li>{{plugin.label}}</li>
		{{/each}}
		</ul>
	</main>

	<footer>
		#plugins: {{model.length}}
	</footer>
</div>