<header>HEADER</header>

<aside class="left">SIDEBAR-LEFT{{outlet "sidebar-left"}}</aside>

<main>MAIN{{outlet "main"}}</main>

<aside class="right">SIDEBAR-RIGHT{{outlet "sidebar-right"}}</aside>

<footer>FOOTER</footer>


